@model Curso
@section Styles{
    <link rel="stylesheet" type="text/css" href="~/css/vercurso.css"/>
}
        <div class="material-curso">
            <section id="video" class="col-md-7"></section>
            <main id="lista-videos" class="col-md-5 pre-scrollable" style="height: 688px;"></main>
        </div>

        <div class="row">
            <div class="about-curso">
                    <div class="header-content">
                        <p>Acerca de este curso <br> @Model.Titulo</p>
                    </div>
                    <hr>
                    <div class="titulos-display">
                        <p>Datos curso</p>
                        <div class="margin-text">
                            <p>Idioma: @Model.Idioma</p>
                            <p>Cantidad de clases: @Model.CantidadVideos</p>
                            <p>Subtítulos: @Model.Subtitulos</p>
                        </div>
                    </div>
                    <hr>
                    <div class="titulos-display">
                        <p>Descripción</p>
                        <p class="margin-text">@Model.Descripcion</p>
                    </div>
                    <hr>
                    <div class="titulos-display">
                        <p>Certificado</p>
                        <p class="margin-text resp-certificado">Cuenta con certificado avalado por el Ministerio de Educación</p>
                    </div>
                    <hr>
                </div>
        </div>

@section Scripts{
    <script>
        $(document).ready(function () {

            var key = 'AIzaSyAWKez8Ira7wRK8bizymylBTkZ51HoKMuU';
            var playlistId = '@Model.Url';
            var URL = 'https://www.googleapis.com/youtube/v3/playlistItems';


            var options = {
                part: 'snippet',
                key: key,
                maxResults: @Model.CantidadVideos,
                playlistId: playlistId
            }

            loadVids();

            function loadVids() {
                $.getJSON(URL, options, function (data) {
                    var id = data.items[0].snippet.resourceId.videoId;
                    mainVid(id);
                    resultsLoop(data);
                });
            }

            function mainVid(id) {
                $('#video').html(`
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/${id}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        `);
            }

                
            function resultsLoop(data) {

                $.each(data.items, function (i, item) {

                    var thumb = item.snippet.thumbnails.medium.url;
                    var title = item.snippet.title;
                    var desc = item.snippet.description.substring(0, 100);
                    var vid = item.snippet.resourceId.videoId;


                    $('#lista-videos').append(`
                                    <article class="item" data-key="${vid}">

                                        <img src="${thumb}" alt="" class="thumb">
                                        <div class="details">
                                            <h4>${title}</h4>
                                            <p>${desc}</p>
                                        </div>

                                    </article>
                                `);
                });
            }

            $('main').on('click', 'article', function () {
                var id = $(this).attr('data-key');
                mainVid(id);
            });

            $("#toggle-cursos").on('click', function(){
                $(".item").toggle();
            });

        });
    </script>
}